* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 10px;
}

/* Track */
html::-webkit-scrollbar-track {
  background: lightgray;
}

/* Handle */
html::-webkit-scrollbar-thumb {
  background-color:grey;
  border-radius: 4px;
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
  background: rgb(146, 146, 146);
  
}

body{
  max-width: 100vw;
  overflow-x: hidden;

}

a {
  text-decoration: none;
}

/*------------------ HEADER ------------------------*/

header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(22, 13, 13, 0.788);
  height: 70px;
  padding: 0px 60px;
  position: fixed;
  width: 100%;
  z-index: 10;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.8;
}

.logo-text {
  font-weight: 700;
  font-style: italic;
  color: white;
}

.logo-red {
  color: #c00812;
}

.logo img {
  width: 60px;
  margin-top: -10px;
}

.header-nav ul {
  display: flex;
  align-items: center;
  gap: 35px;
  height: 100%;
}

.header-nav ul li {
  list-style: none;
}

.header-nav ul li a {
  color: white;
}

.header-nav ul li a:hover {
  opacity: 0.8;
}

.fill {
  height: 70px;
}

.header-nav-mobile {
  display: none;
}

.hamburguer-icon {
  display: none;
}
/*------------------ BANNER ------------------------*/
.bg-container {
  background-image: url("../assets/img/banner-bg.svg");
  background-repeat: no-repeat;
  background-size:auto;
  background-position-y: 100%;
}

.banner {
  background-color: #160d0dc9;
  padding: 60px 60px;
  display: flex;
}

.banner-title {
  color: white;
  font-size: 4rem;
  margin-bottom: 30px;
}

.banner-subtitle {
  font-weight: 300;
  font-size: 1.2rem;
  color: white;
}

.couple-img {
  width: 600px;
}

.banner-btn-container {
  display: flex;
  gap: 20px;
 
}

.btn-about-us,
.btn-contact-us {
  width: 250px;
  height: 50px;
  box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}

.btn-about-us {
  background-color: #c00812;
  color: white;
  border: none;
}

.btn-about-us:hover {
  background-color: #c00811db;
}

.btn-contact-us {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.btn-contact-us:hover {
  background-color: white;
  color: black;
}

.banner-right {
  position: relative;
  height: 100%;
  width: 100%;
}

.couple-img {
  position: absolute;
  top: -38px;
  right: -60px;
}

/*------------------ OUR SERVICES ------------------------*/

#our-services {
  padding: 80px;
}

.cards-container {
  display: flex;
  gap: 60px;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}

.card .topic {
  margin-bottom: 40px;
  height: 50px;
}

.ten-plus {
  color: #c00812;
  font-size: 2.4rem;
}

.card {
  background-color: #f8f8f8;
  box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  text-align: center;
  border-radius: 8px;
  padding-top: 40px;
  max-width: 275px;
}

.card h3 {
  margin-bottom: 5px;
}

/*------------------ OUR BRANDS ------------------------*/

#our-brands h2 {
  text-align: center;
  font-size: 3rem;
  color: #c00812;
  padding-top: 40px;
}

#our-brands {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgb(119, 119, 119)
  );
  
}

#our-brands:target{
  scroll-margin-top: 135px;
}

#our-brands .bg {
  height: 100%;
  background-image: url("/assets/img/image\ 13\ 1\ \(1\).svg");
  background-repeat: no-repeat;
  background-size:auto;
  background-position-y: 100%;
}

.carousel {
  padding: 50px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.brand {
  height: 110px;
}

/*------------------ ABOUT US ------------------------*/

#about-us {
  padding: 60px;
  position: relative;
}

#about-us:target{
  scroll-margin-top: 70px;
}

#about-us .content {
  padding-right: 300px;
}

.content h2 {
  color: #c00812;
  font-size: 3rem;
}

.content h3 {
  font-size: 2rem;
  margin-left: 5px;
  margin-bottom: 10px;
}

.tool-image-right {
  position: absolute;
  right: 0px;
  top: 30px;
  height: 400px;
}

.content ul li {
  list-style: none;
}

.content p {
  margin-left: 5px;
  margin-bottom: 25px;
  text-align: justify;
}

.check-topic-icon {
  width: 1rem;
  margin-right: 5px;
  margin-left: 5px;
}

.content ul li {
  margin-bottom: 10px;
}

/*------------------ CONTACT US ------------------------*/

#contact-us {
  padding: 80px 40px;
  padding-left: 230px;
  display: flex;
  justify-content: center;
}

#contact-us h2 {
  color: #c00812;
  font-size: 2rem;
}

#contact-us h3 {
  font-size: 2rem;
  margin-bottom: 30px;
}

form{
  width: 100%;
  max-width: 900px;
}

.white-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 3px 64px 14px rgba(0, 0, 0, 0.1);
  padding: 30px;
  padding-left: 200px;
 width: 100%;
 

}

.white-card input,
.white-card textarea {
  background-color: #f8f2f2;
  border: none;
  padding: 15px 15px;
  outline: none;
  border-radius: 4px;
}

.white-card input:hover {
  background-color: #eae8e8;
}

.send-btn {
  width: 250px;
  height: 50px;
  box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #c00812;
  color: white;
  border: none;
}

.topic p {
  word-break: break-all;
}

.send-btn:hover {
  background-color: #ad060f;
}

#contact-us form {
  position: relative;
}

.red-card {
  background-color: #ad060f;
  color: rgba(255, 255, 255, 0.75);
  padding: 20px 40px;
  max-width: 350px;
  position: absolute;
  left: -200px;
  top: 75px;
}

.red-card-inside{
  display: none;
}

.topic-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.social-media {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.social-media img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.topic img {
  width: 28px;
}

.topic {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0;
}

#mensagem {
  height: 200px;
  vertical-align: top;
}

.red-card h3 {
  color: white;
}

/*---------- LOCATION ------------*/

#location {
  height: 400px;
  background-image: url("/assets/img/location-bg.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position-y: 100%;
  
}

.location-bg {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.location-bg h2 {
  font-size: 3rem;
  color: white;
  text-align: center;
}

.location-btn {
  max-width: 250px;
  width: 100%;
  height: 50px;
  box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.location-bg div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.location-btn:hover {
  background-color: white;
  color: black;
}

footer {
  background-color: rgba(22, 13, 13, 0.788);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/*------- - OTHERS --------*/

.whats-app-btn {
  background-color: #1bd741;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  bottom: 130px;
  right: 100px;
  opacity: 1;
}

.whats-app-btn:hover {
  background-color: #18c93b;
}

@media screen and (max-width: 1120px) {
  .couple-img {
    right: -60px;
    width: 500px;
    top: 28px;
  }
}

@media screen and (max-width: 960px) {
  .couple-img {
    right: 0px;
    width: 500px;
    top: 28px;
    z-index: -1;
  }

  .header-nav ul {
    display: none;
  }

  .hamburguer-icon {
    display: block;
    position: relative;
    cursor: pointer;
    height: 27px;
    width: 27px;
    z-index: 9999;
  }

  .hamburguer-icon:hover {
    opacity: 0.8;
  }

  .middle-line {
    height: 3px;
    width: 27px;
    border-radius: 10px;
    background-color: white;
    display: block;
    position: absolute;
    top: 12px;
    transition: 0.5s ease-out;
  }

  .middle-line-close{
    animation: middleLine 0.5s ease-out forwards;
  }

  .top-line-close{
    animation: topLine 0.5s ease-out forwards;
  }

  .bottom-line-close{
    animation: bottomLine 0.5s ease-out forwards;
  }

  @keyframes bottomLine {
    50%{transform: translateY(12px)}
    100%{transform: translateY(12px) rotate(45deg) ;}
  }

  @keyframes topLine {
    50%{transform: translateY(-12px)}
    100%{transform: translateY(-12px) rotate(135deg);}
  }

  @keyframes middleLine {
    50%{transform: translateY(0px)}
    100%{transform: translateY(0px) rotate(46deg);}
  }
  .bottom-line {
    height: 3px;
    width: 27px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    bottom: 0px;
  }

  .top-line {
    content: "";
    height: 3px;
    width: 27px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 0px;
  }

  .header-nav-mobile-container {
    position: relative;
  }

  .show {
    transform: translateX(-280px);
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .header-nav-mobile {
    position: fixed;
    background-color: #c00812;
    width: 280px;
    top: 0;
    z-index: 12;
    right: -280px;
    height: 100%;
    padding: 60px;
    display: block;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .header-nav-mobile ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
  }

  .header-nav-mobile ul li {
    list-style: none;
  }

  .header-nav-mobile ul li a {
    color: white;
  }

  .header-nav-mobile ul li a:hover {
    opacity: 0.7;
  }

  .red-card{
   
    display: none;
  }

  .red-card-inside{
    background-color: #ad060f;
  color: rgba(255, 255, 255, 0.75);
  padding: 20px 40px;
  display: block;
  border-radius: 4px;
  }

  #contact-us{
    padding-left: 40px;
  }

  .white-card{
    padding-left: 30px;
    
  }

  .topic-container{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .tool-image-right{
    z-index: -1;
    opacity: 0.1;
  }

  #about-us .content{
    padding-right: 30px;
  }

  #our-brands:target{
    scroll-margin-top: 100px;
  }
}


@media screen and (max-width: 638px) {
.banner-btn-container{
  flex-wrap: wrap;
}

  .btn-contact-us, .btn-about-us{
    width: 100%;
    font-size: 1rem;
  }

  #about-us .content{
    padding-right: 0;
  }

  .cards-container{
    gap: 30px;
  }

  .banner-title{
    font-size: 2.5rem;
  }

  .banner{
    padding: 40px 20px;
    justify-content: center;
  }

  .banner-right{
    width: 0px;
    
  }
  
  .couple-img{
    top: 0px;
    right: 0px;
    
  }


  .banner-subtitle{
    font-size: 1rem;
  }

  header{
    padding: 20px;
    padding-left: 10px;
  }

 .brand{
  width: 155px;
  height: auto;
 }

  #our-services, .carousel, #about-us{
    padding: 40px 20px;
  }

  #our-brands h2, #about-us h2, #location h2{
    font-size: 2rem;
  }

   #about-us h3{
    font-size: 1.2rem;
  }

  #contact-us{
    padding: 20px 10px;
  }

  .white-card{
    padding: 20px 20px;
  }

  .send-btn{
    width: 100%;
  }

  .red-card-inside{
    padding: 15px;
  }

  .whats-app-btn{
    right: 30px;
  }

  #contact-us:target{
    scroll-margin-top: 50px;
  }
}

/*----- ANIMATIONS -------*/

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fade-in-up {
  animation: fade-in-up 1s forwards;
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fade-in-down {
  animation: fade-in-down 1s forwards;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(200px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fade-in-right {
  animation: fade-in-right 1s forwards;
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fade-in-left {
  animation: fade-in-left 1s forwards;
}

.banner-left-animation{
  opacity: 0;
}

.couple-img{
  opacity: 0;
}

.card{
  opacity: 0;
}

.brand{
  opacity: 0;
}

.about-us-left-animation{
  opacity: 0;
}